<!-- Basic template by Philippe Chretien philippe.chretien@gmail.com -->

<html>
<head>
    <title>{% block title %}CryptoEditor{% endblock %}</title>
    <link href="/cryptoeditor.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
    {%block script%}
    {%endblock%}
    </script>
</head>
<body leftmargin=10 topmargin=10>

	<img src="images/bg.png" height=2 width=800/>
	<table cellpadding=5 cellspacing=0 border=0 width=800 height=600 align="left" bgcolor="dddddd">

	<tr height=50>
		<td bgcolor="aaaaff" width="125" align="left" valign="top">{%block header%}<a title="CryptoEditor" href="/"><span style="font-size:20">CryptoEditor</span><br><span style="font-size:10">Protect your data</span></a>{%endblock%}</td>
		<td bgcolor="aaaaff" align="left" valign="bottom" width="550"><span style="font-size:15; margin-left: 10">{%block top%}{%endblock%}</span></td>
		<td bgcolor="aaaaff" width="125" align="right"valign="top">
		{%block login%}
			{%if email%}
				<b><a href="/myprofile">
				{%if fullname%}
					{{fullname}}
				{%else%}
					My Profile
				{%endif%}
				</b></a><br>
				<a style="color:red;" href="/logout">(Logout)</a>
			{%else%}
				<b><a href="/register">Register</a><br></b>
				<a href="/login">Login</a>
			{%endif%}
		{%endblock%}
		</td>
	</tr>
    <tr>
    <td valign="top" bgcolor="ffffff" width="125">
	    {%block menu%}
	    	<p><a href="/">Home</a></p>
	    	{%if email%}
			<p><a href="/myprofile">Profile</a></p>
			{%endif%}
			<p><a href="/news">News</a></p>
			<p><a href="/contact">Contact us</a></p>
			<p><a href="/download/cryptoeditor.msi" style="color:red">Download</a></p>
		{% endblock %}
	</td>
	<td valign="top" bgcolor="ffffff" width="500" rowspan="2">{% block content %}{% endblock %}</td>
	<td align=left valign="top" bgcolor="ffffff" width="175">
		{% block right %}
			{%if email%}
				{%if expiration%}
					Your synchronization service expire<br><b>{{expiration}}</b>
				{%endif%}
			{%else%}
				<form action="/login" method="post">
					Email address<br>
					<input type="text" name="email" size="16" value="{%if emailvalue%}{{emailvalue}}{%endif%}"/><br>
					Password<br>
					<input type="password" name="password" size="16"/><br>
					<input type="submit" value="Login"/><br>
					<a href="/forgot">Forgot your<br>password?</a>
				</form>
			{%endif%}

		{% endblock %}


	</td>
	</tr>
	<tr>
		<td valign="bottom" bgcolor="ffffff" >
		</td>
		<td valign="bottom" bgcolor="ffffff" >
			{%block logo%}
			<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
			{%endblock%}
		</td>
	</tr>
    <tr height=25>
	    <td colspan=3 valign="top" bgcolor="dddddd">
		    {%block footer%}
		    	<div align=center>
		    		CryptoEditor v1.0 Copyright Deux Sortes Inc. (<a href="http://www.2sortes.com" target="_blank">2sortes.com</a>) 1999 - 2009
		    	</div>
		    {%endblock%}
	    </td>
    </tr>
    <tr>
	    <td colspan=3 valign="top">

		</td>
	</tr>
    </table>
</body>
</html>