<!-- Basic template by Philippe Chretien philippe.chretien@gmail.com -->

<html>
<head>
    <title>{% block title %}CryptoEditor{% endblock %}</title>
    <link href="/cryptoeditor.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
    {%block script%}
    {%endblock%}
    </script>
</head>
<body leftmargin=10 topmargin=10>

	<table cellpadding=5 cellspacing=0 border=0 width=240 align="left" bgcolor="dddddd">
	<tr height=50>
		<td bgcolor="aaaaff" width="120" align="left" valign="top">{%block header%}<a title="CryptoEditor" href="/"><span style="font-size:20">CryptoEditor</span><br><span style="font-size:10">Protect your data</span></a>{%endblock%}</td>
		<td bgcolor="aaaaff" width="120" align="right" valign="top">
		{%block login%}
			{%if email%}
				<b><a href="/myprofile">
				{%if fullname%}
					{{fullname}}
				{%else%}
					{{email}}
				{%endif%}
				</b></a><br>
				<a style="color:red;" href="/logout">(Logout)</a>
			{%else%}
				<b><a href="/register">Register</a><br></b>
				<a href="/login">Login</a>
			{%endif%}
		{%endblock%}
		</td>
	</tr>
	<tr>
		<td bgcolor="ccccff" align="left" colspan="2">{%block top%}{%endblock%}</td>
	</tr>
    <tr>
    	<td valign="top" bgcolor="ffffff" width="240" colspan="2">{% block content %}{% endblock %}</td>
	</tr>
	<tr>
	    <td colspan=2 valign="top" bgcolor="dddddd">
		    {%block footer%}
		    	<div align=center>
		    		CryptoEditor v1.0 Copyright Deux Sortes Inc. (<a href="http://www.2sortes.com" target="_blank">2sortes.com</a>) 1999 - 2009
		    	</div>
		    {%endblock%}
	    </td>
    </tr>
    </table>
</body>
</html>