{% extends "tpage.html" %}

{%block menu%}
	<ul class="art-menu">
		<li>
			<a href="/"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
		</li>
		{%if email%}
		<li>
			<a href="/myprofile"><span class="l"></span><span class="r"></span><span class="t">Your profile</span></a>
		</li>
		{%endif%}
		<li>
			<a href="/how"><span class="l"></span><span class="r"></span><span class="t">How it works</span></a>
			<ul>
				<li><a href="/videos">Videos</a></li>
				<li><a href="/screenshots">Screenshots</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</li>
		<li>
			<a href="/about" class="active"><span class="l"></span><span class="r"></span><span class="t">Company</span></a>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact us</a></li>
			</ul>
		</li>
	</ul>
{%endblock%}

{%block content%}
	<div align=center>
		<table>
			
			<tr>
			  <td width="20" align="left" valign="top">&nbsp;</td>
			  <td width="150" align="left" valign="top">
              <p>Address:</p>
		        <p>6561 12th Av.<br />
		          Montreal, QC<br />
		          Canada<br />
		          H1X 3A8<br />
  <br />
		         tel.  (514) 574-8499<br />
<a href="http://www.cryptoeditor.com">http://www.cryptoeditor.com</a></p>
		  			</td>
			  <td width="25" align="left">&nbsp;</td>
		      <td width="430" align="left" valign="top"><form action="" method=post>
					{%if error%}
						<p><span style="color:red">{{error}}</span></p>
					{%endif%}
					{%if message%}
						<p><span style="color:green">{{message}}</span></p>
					{%endif%}
					Your name:<br>
					<input type="text" size=32 name="fullname" {%if fullname%}value="{{fullname}}"{%endif%}/><br>
					Your email address:<br>
					<input type="text" size=32 name="email1" {%if email1%}value="{{email1}}"{%endif%}/><br>
					Enter your email again:<br>
					<input type="text" size=32 name="email2" {%if email2%}value="{{email2}}"{%endif%}/><br>
					Subject:<br>
					<input type="text" size=32 name="subject" {%if subject%}value="{{subject}}"{%endif%}/><br>
					Message:<br>
					<textarea cols=30 rows=4 name="body">{%if body%}{{body}}{%endif%}</textarea>
<br>
					<input type="submit" value="Send"/>
				</form></td>
		  </tr>
		</table>
</div>
{%endblock%}
