{% extends "master.html" %}

{%block content%}
	<div id="content_header"> </div>
	<div>
		<table width="864" border=0 align="center" cellpadding=0>
			
			<tr>
			  <td width="20" align="left" valign="top">&nbsp;</td>
			  <td width="150" align="left" valign="top">
		  <form action="" method=post>
					{%if error%}
						<p><span style="color:red">{{error}}</span></p>
					{%endif%}
					{%if message%}
						<p><span style="color:green">{{message}}</span></p>
					{%endif%}
					Your name:<br>
					<input type="text" size=32 name="fullname" {%if fullname%}value="{{fullname}}"{%endif%}/><br>
					Your email address:<br>
					<input type="text" size=32 name="email1" {%if email1%}value="{{email1}}"{%endif%}/><br>
					Enter your email again:<br>
					<input type="text" size=32 name="email2" {%if email2%}value="{{email2}}"{%endif%}/><br>
					Subject:<br>
					<input type="text" size=32 name="subject" {%if subject%}value="{{subject}}"{%endif%}/><br>
					Message:<br>
					<textarea cols=30 rows=4 name="body">{%if body%}{{body}}{%endif%}</textarea>
<br>
					<input type="submit" value="Send"/>
				</form>			</td>
			  <td width="2" align="left" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
		      <td width="430" align="left" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address:</p>
		        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6561 12th Av.<br />
		          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Montreal, QC<br />
		          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canada<br />
		          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;H1X 3A8<br />
  <br />
		          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tel.  (514) 574-8499<br />
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cryptoeditor.com">http://www.cryptoeditor.com</a></p></td>
		  </tr>
		</table>
</div>
{%endblock%}
