{% extends "tpage.html" %}

{%block menu%}
	<ul class="art-menu">
		<li>
			<a href="/"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
		</li>
		{%if email%}
		<li>
			<a href="/myprofile"><span class="l"></span><span class="r"></span><span class="t">Your profile</span></a>
		</li>
		{%endif%}
		<li>
			<a href="/how" class="active"><span class="l"></span><span class="r"></span><span class="t">How it works</span></a>
			<ul>
				<li><a href="/how">Overview</a></li>
				<li><a href="/videos">Videos</a></li>
				<li><a href="/screenshots">Screenshots</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</li>
		<li>
			<a href="/download"><span class="l"></span><span class="r"></span><span class="t">Download</span></a>
		</li>
		<li>
			<a href="/about"><span class="l"></span><span class="r"></span><span class="t">Company</span></a>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact us</a></li>
			</ul>
		</li>
	</ul>
{%endblock%}

{%block content%}
<div id="content_header"> </div>
<div id="cont" align="justify">
	<p><b><span style="color:#CC3333">Q. Is CryptoEditor FREE?</span></b><br>
	<b>Yes</b>. The CryptoEditor software is FREE and will always be.<br>

	<p><b><span style="color:#CC3333">Q. So what is this 14.99$ yearly subscription?</span></b><br>
	R. CryptoEditor protect your data on your computer. By subscribing you get access to online backup, specialized plugins and online support.<br>

	<p><b><span style="color:#CC3333">Q. Can you read the information we store in CryptoEditor?</span></b><br>
	<b>No</b>. Your data is always encrypted on YOUR computer using industrial strength encryption algorithms.<br>

	<p><b><span style="color:#CC3333">Q. Can someone with access to my hard drive can read my sensitive data?</span></b><br>
	R. <b>No</b>. Your sensitive data is never saved in clear text on the hard drive. It is always encrypted before to be saved.<br>

	<p><b><span style="color:#CC3333">Q. What if I lose my CryptoEditor password?</span></b><br>
	There is NO way to recover your CryptoEditor password. Your password will NEVER be stored anywhere. You can use online services such as <a href="http://www.secretquiz.com" target="_blank_">SecretQUIZ</a> to keep your password safe.<br>

	<p><b><span style="color:#CC3333">Q. What operating system is required to run CryptoEditor?</span></b><br>
	R. For the moment you can run CryptoEditor on any Windows based operating system. We are working on a Mono implementation to run on Linux and Mac.<br>

	<p><b><span style="color:#CC3333">Q. How can we get more plugins to encrypt different types of data?</span></b><br>
	R. We are constantly working on new plugins. We will publish these periodically.<br>

	<p><b><span style="color:#CC3333">Q. Our enterprise network policies does not allow access to your sire for synchronization. Can we get the CryptoEditor server deployed on our infrastructure?</span></b><br>
	R. CryptoEditor server is available for both MySQL and MS-SQL. Contact us for more details on pricing and licensing.<br>

	<!--
	<p><b><span style="color:#CC3333">Q. ?</span></b><br>
	R. <br>
	-->
</div>
{%endblock%}


