{% extends "base.html" %}

{%block top%}
Home
{%endblock%}

{%block content%}
<table width="100%" cellpadding=10 border=0>
	<tr>
		<td>
			<table width="100%" border=0 cellpadding="5">
			<tr>
				<td align=left>
					<p><b>Q. Can you read the information we store in CryptoEditor?</b><br>
					R. No. Your data is always encrypted on YOUR computer using industrial strength encryption algorithms.<br>
					<p><b>Q. What if I loose my password?</b><br>
					R. There is NO way to recover your lost password. Your password will NEVER be stored anywhere. You can use online services such as <a href="http://www.secretquiz.com">SecretQUIZ</a> to keep your password safe.<br>
					<p><b>Q. ?</b><br>
					R. <br>
					<p><b>Q. ?</b><br>
					R. <br>
				<td>
			</tr>
			<tr><td align="center">
				{%if email%}
				{%else%}
					<hr>
					<p>Register and get online backup, lifetime upgrades, specialized plugins and more.
					<p><a href="/register" class="button"><span style="color:#3333ff">Start Your Free Trial</span></a>
				{%endif%}				
			</td></tr>
			</table>
		</td>
	</tr>
</table>
{%endblock%}


