{% extends "master.html" %}

{%block content%}
<div id="content_header"> </div>
<div id="cont" align="justify">
	<p><b><span style="color:#CC3333">Q. Is CryptoEditor FREE?</span></b><br>
	<b>Yes</b>. The CryptoEditor software is FREE and will always be.<br>
	<p><b><span style="color:#CC3333">Q. So what is this 9.99$ yearly subscription?</span></b><br>
	R. CryptoEditor protect your data on your computer. By subscribing you get access to online backup, specialized plugins and online support.<br>
	<p><b><span style="color:#CC3333">Q. Can you read the information we store in CryptoEditor?</span></b><br>
	<b>No</b>. Your data is always encrypted on YOUR computer using industrial strength encryption algorithms.<br>
	<p><b><span style="color:#CC3333">Q. Can someone with access to my hard drive can read my sensitive data?</span></b><br>
	R. <b>No</b>. Your sensitive data is never saved in clear text on the hard drive. It is always encrypted before to be saved.<br>
	<p><b><span style="color:#CC3333">Q. What if I lose my CryptoEditor password?</span></b><br>
	There is NO way to recover your CryptoEditor password. Your password will NEVER be stored anywhere. You can use online services such as <a href="http://www.secretquiz.com" target="_blank_">SecretQUIZ</a> to keep your password safe.<br>
	<!--
	<p><b><span style="color:#CC3333">Q. ?</span></b><br>
	R. <br>
	-->
</div>
{%endblock%}


