{% extends "master.html" %}


{% block content %}
    <div id="cont" align="left">Local Storage:</div>
    <div id="cont" align="left">All your data and your master password are encrypted on your computer and stored on your disk. The data is NEVER stored clear.</div>
    <p>
    <div id="cont" align="left">Server Backup:</div>
	<div id="cont" align="left">Since the data is ALWAYS encrypted on your computer, there are no clear text data stored on the server. Your password is not stored on the server as well. If you lose your password, there is no way to get it back. The synchronization between the server and CryptoEditor is always performed on your computer.</div>
    <p>
    <div id="cont" align="left">Multiple Users:</div>
	<div id="cont" align="left">Many user accounts can be created using the same installation of CryptoEditor. You will need one registration per user for the synchronization service.</div>
    <p>
	<div style="clear:both;"></div>
  {%endblock%}
