{% extends "tmain.html" %}


{% block content %}
										<h2 class="art-postheader">
											Protect Your Identity
										</h2>
                                        <div class="art-postcontent">
                                                <p>Identity fraud is the fastest growing crime of the 21th century. Millions of peoples are victim of identity fraud every year. Protect your passwords, your credit card numbers, your software licenses and more with <b>CryptoEditor</b>.
												</p>

                                                <div class="cleared"></div>
												<br>
                                                <blockquote>
													<p>
														&#8220;All our employes use CryptoEditor to secure their passwords. CryptoEditor makes it easy to apply password management best practices in our enterprise.&#8221;
														<br />
														- Philippe Chretien, CEO, Deux Sortes Inc.
													</p>
                                                </blockquote>
												<br>

                                                <div class="art-content-layout overview-table">
                                                	<div class="art-content-layout-row">
													<div class="art-layout-cell">
													<div class="overview-table-inner">
													<h3>Download</h3>
														<p>
															CryptoEditor is <b>FREE</b>. All the information stored using CryptoEditor is encrypted on your computer using industry grade encryption algorithms.<br><br>
															<span class="art-button-wrapper">
																<span class="l"> </span>
																<span class="r"> </span>
																<a class="art-button" href="/download/cryptoeditor.msi">Download</a>
															</span>
														</p>
													</div>
													</div><!-- end cell -->
                                                	<div class="art-layout-cell">
														<div class="overview-table-inner">
															  <h3>How it works</h3>
															  <p>
																  You don't have time to try CryptoEditor by yourself? Take 2 minutes and watch this short <b><a href="#">video</a></b> to learn how CryptoEditor works.
															  </p>
														</div>
                                                	</div><!-- end cell -->
                                                		<div class="art-layout-cell">
                                                    <div class="overview-table-inner">
                                                		  <h3>Get More</h3>

														  <p>
														  		We offer an online synchronization service that allows you to access your data from any computer where CryptoEditor is installed.
														  </p>
														  <p>
														  	<b><a href="/register">Register now</a></b> and get 6 months for FREE. No credit card required.
														  </p>
                                                              </div>
                                                		</div><!-- end cell -->
                                                	</div><!-- end row -->
                                                </div><!-- end table -->
                                            </div>
{%endblock%}
