{% extends "master.html" %}


{% block content %}
    <div id="content_header">Protect your identity</div>
    <div id="cont" align="left">Identity fraud is the fastest growing crime of the 21th century. Millions of peoples are victim of identity fraud every year. Protect your passwords, your credit card numbers, your software licenses and more with CryptoEditor.</div>

	<div id="content_header">Step #1 - Download CryptoEditor</div>
	<div id="cont" align="left"><span style="color:#CC3333">CryptoEditor is FREE.</span> All the information stored in CryptoEditor is encrypted on disk using industry grade encryption algorithms. There are many plugins available to save all kinds of data.</div>
	<div align="center">
		<p><a href="/download/cryptoeditor.msi"><img src="images/deonload_button.png" / border="0"></a></p>
	</div>
	<div id="content_header">Step #2 - Register to backup service</div>
	<div id="cont" align="left">While CryptoEditor is FREE for local use, we offer a backup/synchronization service to make sure your data never get lost. The service allows you to access your data from any computer where CryptoEditor is installed. That way you can keep all your personnal data synchronized on all your computers. <span style="color:#CC3333">Register now and get 3 months for FREE.</span> No credit card required.</div>
	<div align="center">
		<p><a href="/register"><img src="images/free-trial.png" / border="0"></a></p>
	</div>

	<div style="clear:both;"></div>
  {%endblock%}
