{% extends "tmain.html" %}


{% block content %}
										<h2 class="art-postheader">
											Protect Your Identity
										</h2>
										<p>
											Identity fraud is the fastest growing crime of the 21th century. There will be 10 million victims of identity theft this year in the United States only. Protect your passwords, your credit card numbers, your notes and more ... <b>Protect Yourself</b>!
										</p>
										<br/>

										<table><tr>
										<td>
											<img src="images/all.png"/>
										</div>
										</td>
										<td>
											<div class="art-postcontent">
											<blockquote>
												<p>
													&#8220;CryptoEditor makes it easy to enforce password management best practices in our enterprise.&#8221;
													<br/><br/>
													Maxime Taylor, CEO, SST Consulting
												</p>
											</blockquote>
										</td>
										</tr></table>

										<br/>

										<div class="art-content-layout overview-table">
											<div class="art-content-layout-row">
											<div class="art-layout-cell">
											<div class="overview-table-inner">
											<h3>Get It</h3>
												<p>
													CryptoEditor is <b>FREE</b>. All the information stored using CryptoEditor is encrypted on your computer using industry grade encryption algorithms.<br><br>
												</p>
												<p>
													<a class="art-button" href="/download/cryptoeditor.msi">Download</a>
												</p>
											</div>
											</div><!-- end cell -->
											<div class="art-layout-cell">
												<div class="overview-table-inner">
													  <h3>How it works</h3>
													  <p>
														  You don't have time to try CryptoEditor by yourself?
													  </p>
													  <p>
													  	Take 2 minutes to watch a short demo <b><a href="videos">video</a></b>.
													  </p>
													  <p>
													  	You want more details on how CryptoEditor works? Read this short <b><a href="/how">overview</a></b> to learn more.
													  </p>
												</div>
											</div><!-- end cell -->
												<div class="art-layout-cell">
											<div class="overview-table-inner">
												  <h3>Get More</h3>

												  <p>
														We offer an online synchronization service that allows you to access your data from any computer where CryptoEditor is installed.
												  </p>
												  <p>
														Register now and get 90 days for FREE. No credit card required.
												  </p>
												  <p>
														<a class="art-button" href="/register">Register</a>
												  </p>
													  </div>
												</div><!-- end cell -->
											</div><!-- end row -->
										</div><!-- end table -->
{%endblock%}
