{% extends "master.html" %}

{%block content%}
	<div id="content_header"> </div>
	<div id="cont" align="justify">
		<b>CryptoEditor 1.1 Official Release</b><br>
		<i>September 25th 2009</i></br>
		<p>CryptoEditor 1.1 is now officially released. <a href="/download/cryptoeditor.msi">Download</a> your FREE copy now and <a href="/register">Register</a> to our online backup trial!
		<p>CryptoEditor now includes search capabilities and plugin specific properties. This will bring plugin development to a new level. Stay tuned for more specialized plugins.
		<p>This version of the online synchronization is built on top of the Google App Engine. This technology now replaces the previous architecture based on Microsoft .Net web services. The virtually infinite scalability of the Google App Engine will allows us to serve you better and faster.
		<p>Philippe Chretien</p>
	</div>
	<!--<div id="hor_border"></div><br>-->

{%endblock%}