{% extends base %}

{%block top%}
<a href="/" target="_blank_">Home</a> > News
{% endblock %}

{%block content%}
<b>FREE plugins</b><br>
<i>June 10th 2009</i></br>
<p>CryptoEditor now ships with tree FREE plugins, Password, Licenses and Notes.</p>
<p>The Password plugin allows you to store passwords of all kinds. All passwords are encrypted by the CryptoEditor application using industrial strength encryption algorithms.</p>
<p>The Licenses plugin has been designed to store software licenses. Never lose your precious software licenses with CryptoEditor.</p>
<p>The new Notes plugin is perfect to store all kinds of notes. Store your notes by title, author and keywords. The new search functionality allows you to easily find your notes.</p>
<p>Philippe Chretien</p>
<hr>
<b>CryptoEditor 1.1 RC1</b><br>
<i>June 1st 2009</i></br>
<p>CryptoEditor 1.1 RC1 has been released today.</p>
<p>CryptoEditor now includes search capabilities and plugin specific properties.</p>
<p>This version of the web synchronization functionality is built on top of the Google App Engine.</p>
<p>Philippe Chretien</p>
{%if email%}
{%else%}
	<hr>
	<div align=center>
		<p>Register and get online backup, lifetime upgrades, specialized plugins and more.
		<p><a href="/register" class="button"><span style="color:#3333ff">Start Your Free Trial</span></a>
	</div>
{%endif%}
{%endblock%}