{% extends "master.html" %}

{%block top%}
<a href="/" target="_blank_">Home</a> > News
{% endblock %}

{%block content%}
<b>CryptoEditor 1.1 Official Release</b><br>
<i>September 25th 2009</i></br>
<p>CryptoEditor 1.1 is now officially released. <a href="/download/cryptoeditor.msi">Download</a> your FREE copy now and <a href="/register">Register</a> to our online backup trial!
<p>CryptoEditor now includes search capabilities and plugin specific properties. This will bring plugin development to a new level. Stay tuned for more specialized plugins. 
<p>This version of the online synchronization is built on top of the Google App Engine. This technology now replaces the previous architecture based on Microsoft .Net web services. The virtually infinite scalability of the Google App Engine will allows us to serve you better and faster. 
<p>Philippe Chretien</p>
<div id="login">
	  <div id="login_cntent">
		{%if email%}
			{%if expiration%}
				You are loged in. Your synchronization service expire <b>{{expiration}}</b>
			{%endif%}
		{%else%}
		  <form action="/login" method="POST">
			  <table width="217" height="95" border="0">
				  <tr>
					<td width="56" height="31">Email address<br>
					<input type="text" name="email" size="16" value="{%if emailvalue%}{{emailvalue}}{%endif%}"/></td>
				  </tr>
				  <tr>
					<td height="29">Password<br>
					<input type="password" name="password" size="16"/></td>
				  </tr>
				  <tr>
					<td><input type="submit" name="submit"  value="Login" /></td>
				  </tr>
			  </table>
		  </form>
		 {%endif%}
	  </div>
	</div>


    <div id="ver_border"></div>


    <div id="free_trial_bg">
      <div id="trial_content" align="justify">Subscribe and get online backup, specialized plugins and online support. Register now to your three months <a href="/register">free trial.</a><div>
    </div>
    <div style="clear:both;"></div>
{%endblock%}