{% extends "tpage.html" %}

{%block menu%}
	<ul class="art-menu">
		<li>
			<a href="/"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
		</li>
		{%if email%}
		<li>
			<a href="/myprofile" class="active"><span class="l"></span><span class="r"></span><span class="t">Your profile</span></a>
		</li>
		{%endif%}
		<li>
			<a href="/how"><span class="l"></span><span class="r"></span><span class="t">How it works</span></a>
			<ul>
				<li><a href="/videos">Videos</a></li>
				<li><a href="/screenshots">Screenshots</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</li>
		<li>
			<a href="/about"><span class="l"></span><span class="r"></span><span class="t">Company</span></a>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact us</a></li>
			</ul>
		</li>
	</ul>
{%endblock%}

{%block content%}
<div id="cont" align="center">
	<table>
		<tr>
			<td colspan=2>
				{%if error%}
					<p><span style="color:red">{{error}}</span></p>
				{%endif%}
				{%if message%}
					<p><span style="color:green">{{message}}</span></p>
				{%endif%}
			</td>
		</tr>
		<form action="" method="post">
		<input type=hidden name="click" value="profile"/>
		<tr>
			<td>First name:</td>
			<td align="right"><input type="text" name="firstname" size="32" value="{%if firstnamevalue%}{{firstnamevalue}}{%endif%}"/></td>
		</tr>
		<tr>
			<td>Last name:</td>
			<td align="right"><input type="text" name="lastname" size="32" value="{%if lastnamevalue%}{{lastnamevalue}}{%endif%}"/></td>
		</tr>
		<tr>
			<td colspan="2" align="right"><input type="submit" value="Update"/></td>
		</tr>
		</form>
		<form action="" method="post">
		<input type=hidden name="click" value="email"/>
		<tr>
			<td>Email address:</td>
			<td align="right"><input type="text" name="email" size="32" value="{%if emailvalue%}{{emailvalue}}{%endif%}"/></td>
		</tr>
		<tr>
			<td colspan="2" align="right"><input type="submit" value="Change Email"/></td>
		</tr>
		</form>
		<form action="" method="post">
		<input type=hidden name="click" value="password"/>
		<tr>
			<td>Password:</td>
			<td align="right"><input type="password" name="password1" size="32"/></td>
		</tr>
		<tr>
			<td>Confirm password:</td>
			<td align="right"><input type="password" name="password2" size="32"/></td>
		</tr>
		<tr>
			<td colspan="2" align="right"><input type="submit" value="Change Password"/></td>
		</tr>
		</form>
		{%if license%}
		<tr><td colspan=2 width=400>
			<br><hr><br><b>License: </b><span style="color:red">{{license}}</span><br>
			<span style="font-size:12"><i>You must enter this license into your CryptoEditor client application in order to activate online synchronization.</i></span>
		</td></tr>
		{%endif%}
{%if expiration%}
		<tr><td><br></td></tr>
		<tr>
			<td align="left" valign="top" colspan=2 width=400>
				<hr>
				<b>Expiration date:</b><span style="color:red"> {{expiration}}</span><br><br>
<!--				
You can extend your subscription at any time. The amount of time you purchase will be added to the remaining time you actually have in your account.
				<br><br>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="9082567">
				<table>
				<tr><td><input type="hidden" name="on0" value="Subscription period">Subscription period</td></tr><tr><td><select name="os0">
					<option value="1 Year">1 Year $14.95
					<option value="2 Years">2 Years $24.95
					<option value="3 Years">3 Years $29.95
				</select> </td></tr>
				<tr><td><input type="hidden" name="on1" value="CryptoEditor Email Address">CryptoEditor Email Address</td></tr><tr><td><input type="text" name="os1" maxlength="60" {%if emailvalue%}value="{{emailvalue}}" readonly{%endif%}></td></tr>
				</table>
				<input type="hidden" name="currency_code" value="USD">
				<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
-->
			</td>
		</tr>
	{%endif%}
</table>
</div>
{% endblock %}
