{% extends "tpage.html" %}

{%block menu%}
	<ul class="art-menu">
		<li>
			<a href="/"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
		</li>
		{%if email%}
		<li>
			<a href="/myprofile"><span class="l"></span><span class="r"></span><span class="t">Your profile</span></a>
		</li>
		{%endif%}
		<li>
			<a href="/how" class="active"><span class="l"></span><span class="r"></span><span class="t">How it works</span></a>
			<ul>
				<li><a href="/how">Overview</a></li>
				<li><a href="/videos">Videos</a></li>
				<li><a href="/screenshots">Screenshots</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</li>
		<li>
			<a href="/download/cryptoeditor.msi"><span class="l"></span><span class="r"></span><span class="t">Download</span></a>
		</li>
		<li>
			<a href="/about"><span class="l"></span><span class="r"></span><span class="t">Company</span></a>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact us</a></li>
			</ul>
		</li>
	</ul>
{%endblock%}

{%block content%}
<div id="cont" align="center">
	No screenshots for the moment.<br>
	Click <a href="/how">here</a> to read an overview of CryptoTools functionalities.
</div>
{%endblock%}


