{% extends "base.html" %}

{%block top%}
Home
{%endblock%}

{%block content%}
<table width="100%" cellpadding=10 border=0>
	<tr>
		<td>
			<table width="100%" border=0 cellpadding="5">
			<tr><td align=left>
				<p>Thank you for your purchase. 
				<p>We are working at automating this process. Until then, please allow a maximum of 48 hours to process your demand. If you have any question please, feel free to <a href="/contact">contact us</a>.  							
			</td></tr>
			</table>
		</td>
	</tr>
</table>
{%endblock%}


