{% extends "tpage.html" %}

{%block menu%}
	<ul class="art-menu">
		<li>
			<a href="/"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
		</li>
		{%if email%}
		<li>
			<a href="/myprofile"><span class="l"></span><span class="r"></span><span class="t">Your profile</span></a>
		</li>
		{%endif%}
		<li>
			<a href="/how" class="active"><span class="l"></span><span class="r"></span><span class="t">How it works</span></a>
			<ul>
				<li><a href="/how">Overview</a></li>
				<li><a href="/videos">Videos</a></li>
				<li><a href="/screenshots">Screenshots</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</li>
		<li>
			<a href="/download"><span class="l"></span><span class="r"></span><span class="t">Download</span></a>
		</li>
		<li>
			<a href="/about"><span class="l"></span><span class="r"></span><span class="t">Company</span></a>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact us</a></li>
			</ul>
		</li>
	</ul>
{%endblock%}

{%block content%}
<div id="cont" align="center">
	<p><b>First time use of CryptoEditor</b></p>
	<p>This video demonstrate how to create a user profile, save a password to your database and lock the screen to prevent fraudulent uses of the application.</p><br>
	<object width="640" height="505"><param name="movie" value="http://www.youtube.com/v/DabKV5zaV8k?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/DabKV5zaV8k?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505"></embed></object>
	<p><b>Online backup and synchronization registration</b></p>
	<p>This video shows how to register to the online synchronization service. This service allows you to backup your data and synchronize it between multiple computers.</p>
	<object width="640" height="505"><param name="movie" value="http://www.youtube.com/v/ug3V_1QISoM?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/ug3V_1QISoM?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505"></embed></object>
</div>
{%endblock%}


